@import 'colors';
@import 'fonts';
@import 'flexbox';
@import 'layout-mixins';

@mixin side-bar {
	width: 250px;
	text-align: center;
	padding: 10px;
}

#result-count {
	@include bold-font;
	@include border;
	@include side-bar;	
	margin: 0 15px 10px 35px;
}

#search-bar {
	@include border;
	@include side-bar;
	margin: 0 15px 0 35px;

	input {
		color: $black;
	}
}

a:link, a:visited, a:active {
	font-size: .75em;
	color: $primary-color;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#search-button {
	@include button;
}