@import 'colors';
@import 'flexbox';
@import 'fonts';
@import 'layout-mixins';

@mixin starships-width {
	width: 800px;
}

body {
	font-family: $primary-font;
	font-size: 16px;
	color: $primary-color;
	background-image: url('stardust.png');

	li {
		list-style-type: none;
		margin: 0;
		padding:0;
	}
}

#main-header {
	text-align: center;
	
	h1 {
		@include bold-font;
		font-size: 3.5em;
	}

	h3 {
		text-transform: uppercase;
		font-size: 1.25em;
		margin-top: 0;
	}
}

#content {
	@include flexbox;
	@include flex-direction-row;
	width: 100%;
}

#ship-container {
	@include flexbox;
	@include flex-direction-column;
	@include align-items-center;
	@include starships-width;
	margin: 0 25px 0 25px;
}

#zero-starships-message {
	@include border;
	@include flexbox;
	@include flex-direction-column;
	@include align-items-center;
	@include justify-content-center;	
	@include starships-width;
	height: 400px;
	margin-bottom: 25px;

	h3 {
		@include bold-font;
	}
}

.starship {
	@include border;
	@include starships-width;
	padding: 15px;
	margin: 0px 0 15px 0;
}

.ship-display-name {
	@include bold-font;
	color: $secondary-color;
	font-size: 1.75em;
}

.attribute-title {
	@include bold-font;
	color: $secondary-color;
	font-size: 1em;
}

.ship-specs {
	padding-top: 25px;

	header {
		@include bold-font;
		color: $secondary-color;
	}
}

.show-specs {
	@include button;
	width: 160px;
	float: right;
	clear: both;
}

.expanded {
	height: auto;
}

.consumable-note {
	padding: 0 25px 0 25px;
	font-size: .75em;
}