<header>
	<h1>Classifieds</h1>


	<%= form_tag starships_path, method: :get do %>
	 	<p>
	 		<%= text_field_tag :search, params[:search] %>
	 		<%= submit_tag "Search", name: nil %>
	 	</p>
	<% end %>
</header>

<div id="ship-container">
<% @starships.each do |ship| %>
	<div class="starship"><%= ship.name %></div>
<% end %>
</div>